@font-face {
    font-family: 'Furore';
    src: url('/public/Furore.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face { 
    font-family: 'Manolo';
    src: url('/public/manolo-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  